[core]
	excludesfile = /Users/mcsonka/.gitignore_global
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  editor = vim
	autocrlf = input
[user]
	name = Miroslav Csonka
	email = miroslav.csonka@gmail.com
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[rebase]
	autosquash = true
[color]
  ui = true
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = red reverse
  local = blue
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[branch]
    autosetuprebase = always
[mergetool "vimdiff"]
  cmd = vimdiff -f $LOCAL $MERGED $REMOTE
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
	keepBackup = true
[diff]
  compactionHeuristic = true
  mnemonicprefix = true
  colorMoved = dimmed_zebra
[blame]
  date = short
[help]
	autocorrect = 1
[grep]
  lineNumber = true
  patternType = extended
[fetch]
	prune = true
[gitsh]
  prompt = "%D %c%b%#%w"
[pull]
	rebase = true
[commit]
#	template = /Users/miroslavcsonka/dotfiles/.gitcommit
	verbose = true
[interactive]
	diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[interactive]
    singleKey = true
